<ul dnd-list>
  <li ng-repeat="day in days | orderBy: 'position'" ng-class="{ 'complete' : day.completed }" >
    <a ui-sref="daysShow({planId: plan, dayId: day.id, stravaId: day.strava_id})" ng-if="day.exercise.name"><h3>{{ day.dayOfWeek }}<span class="divider"><span class="activity">{{ day.exercise.name }}</span></span></h3></a>
    <a ng-if="!day.exercise.name"><h3>{{ day.dayOfWeek }}<span class="divider"><span class="activity">Rest day</span></span></h3></a>
    <a ui-sref="daysShow({planId: plan, dayId: day.id, stravaId: day.strava_id})" ng-if="day.exercise.name"><img ng-if="day.exercise.name" src="../images/arrow-right.png" class="right-arrow"></a>
  </li>
</ul>
