<section>
  <header>
    <ul>
      <li>
        <a ui-sref="weeksShow({planId: daysShow.planId, weekId: daysShow.day.week })">
          <img src="../images/arrow-left.png" class="left-arrow">
        </a>
      </li>
      <li>{{ daysShow.day.date | date: dd }}</li>
    </ul>
  </header>
  <div class="">
    <h3>{{ daysShow.day.exercise.name }}</h3>
    <h1>{{ daysShow.day.exercise.miles }} miles</h1>
    <button ng-if="daysShow.day.completed" disabled="true" class="disabled">Complete</button>
    <button ng-if="!daysShow.day.completed" ng-click="daysShow.markDone()">Completed</button>
  </div>
</section>
