<section id="top">
  <div>
    <h1>{{ plansShow.plan.name }}</h1>
    <h2>{{ plansShow.plan.end_date | date: dd }}</h2>
  </div>
  <div>
    <ul>
      <li>{{ plansShow.completedWorkouts }} / {{ plansShow.totalWorkouts }} workouts</li>
      <li>{{ plansShow.completedMiles }} / {{ plansShow.totalMiles }} miles</li>
    </ul>
  </div>
  <div >
    <ul dnd-list>
      <li ng-if="plansShow.plan.active && !plansShow.plan.future && plansShow.currentWeek">
        <a ui-sref="weeksShow({planId: plansShow.plan.id, weekId: plansShow.currentWeek})">
          <h3>
              This week
          </h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
      <li ng-if="plansShow.plan.future || (plansShow.plan.active && !plansShow.currentWeek && plansShow.plan.future)">
        <h3>
            Plan starts on {{ plansShow.plan.start_date | date: dd }}
        </h3>
      </li>
      <li ng-if="!plansShow.plan.active || (plansShow.plan.active && !plansShow.plan.future)">
        <h3>
            Plan finished
        </h3>
      </li>
    </ul>
  </div>
  <div ng-if="plansShow.hasStrava">
    <ul dnd-list>
      <li>
        <a ui-sref="stravaIndex">
          <h3>Activity Feed</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
  <div>
    <canvas id="bar" class="chart chart-bar"
      chart-data="plansShow.data" chart-labels="plansShow.labels" chart-series="plansShow.series" chart-colors="plansShow.colors">
    </canvas>
  </div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="daysIndex({id: plansShow.plan.id})">
          <h3>View full plan</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="plansEdit({id: plansShow.plan.id})">
          <h3 ng-if="plansShow.plan.active">End plan</h3>
          <h3 ng-if="!plansShow.plan.active">Delete plan</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
</section>
