<section>
  <header class="top-nav">
    <div class="container">
      <h2>Training Plans</h2>
    </div>
  </header>

  <div>
    <div class="container center">
      <h1>Current Plan</h1>
      <p ng-if="!plansIndex.hasActivePlan">You don't have any active plans.</p>
    </div>
    <ul dnd-list>
      <li ng-repeat="plan in plansIndex.all.user_plans" ng-if="plan.active">
        <a ui-sref="plansShow({id: plan.id })">
          <h3>{{ plan.name }}</h3>
          <p>Race day: {{ plan.end_date | date: dd}}</p>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
  <button class="secondary center" ui-sref="plansNew({ id: plansIndex.all.id })">
    Create New Plan
  </button>
  <div ng-if="plansIndex.all.user_plans">
    <div class="container center">
      <h1>Past Plans</h1>
    </div>
    <ul dnd-list>
      <li ng-repeat="plan in plansIndex.all.user_plans" ng-if="!plan.active">
        <div class="container">
          <a ui-sref="plansShow({id: plan.id })">
            <h3>{{ plan.name }}</h3>
            <p>Race day: {{ plan.end_date | date: dd }}</p>
            <img src="../images/arrow-right.png" class="right-arrow">
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>
