<section>
  <h1>Your Training Plans</h1>

  <p><a ui-sref="plansNew({ id: plansIndex.all.id })">Create New Plan</a></p>
  <h2>Active Plans</h2>
  <ul>
    <li ng-repeat="plan in plansIndex.all.user_plans" ng-if="plan.active">
      <h3>{{ plan.name }}</h3>
      <p>{{ plan.end_date }}</p>
      <a ui-sref="plansShow({id: plan.id })">Show</a>
    </li>
  </ul>
  <hr>
  <h2>Past Plans</h2>
  <ul>
    <li ng-repeat="plan in plansIndex.all.user_plans" ng-if="!plan.active">
      <h3>{{ plan.name }}</h3>
      <p>{{ plan.end_date }}</p>
      <a ui-sref="plansShow({id: plan.id })">Show</a>
    </li>
  </ul>
</div>
</section>
