<header class="top-nav">
  <div class="container">
    <h2>Create account</h2>
  </div>
</header>

<section>
  <div class="container formPage">
    <form novalidate ng-submit="register.submit()">
      <div>
        <input type="text" placeholder="Username" ng-model="register.user.username">
      </div>
      <div>
        <input type="email" placeholder="Email" ng-model="register.user.email">
      </div>
      <div>
        <input type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div>
        <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
      </div>

      <button>Register</button>
    </form>
  </div>
</section>
