<section>
  <header>
    <ul>
      <li>
        <a ui-sref="plansShow({ id: stravaIndex.planId})">
          <img src="../images/arrow-left.png" class="left-arrow">
        </a>
      </li>
      <li>ACTIVITY FEED</li>
    </ul>
  </header>
  <button ng-click="stravaIndex.sync()">SYNC WITH STRAVA</button>
  <ul>
    <li ng-repeat="activity in stravaIndex.allActivities" ng-if="activity.type === 'Run'">
      <p>{{ activity.start_date | date: dd}}</p>
      <div ng-if="activity.userDay">
        MATCH
        <!-- {{ activity.userDay }} -->
        <p ng-if="!activity.userDay.exercise">REST DAY</p>
        <p ng-if="activity.userDay.exercise">{{ activity.userDay.exercise.name }}</p>
        <button ng-if="activity.userDay.exercise.strava_id" ui-sref="'daysShow({planId: planId, dayId: dayId, stravaId: stravaId})'">View Run</button>
        <button ng-if="activity.userDay.exercise && !activity.userDay.exercise.strava_id" ng-click="stravaIndex.markComplete({planId: stravaIndex.planId, dayId: activity.userDay.id, stravaId: activity.id})">Mark completed</button>
      </div>

      <p>{{ activity.name }}<span ng-if="activity.location_city">, {{ activity.location_city }}</span></p>
      <p>{{ activity.distance }} mi</p>
      <p>{{ activity.elapsed_hours }}:{{ activity.elapsed_minutes }}:{{ activity.elapsed_seconds}}</p>
      <div ng-if="activity.map.summary_polyline" class="map-summary">
        <google-map ng-if="activity.map.summary_polyline" data="activity.map.summary_polyline" ></google-map>
      </div>
    </li>
  </ul>
</section>
