<section>
  <header>
    <ul>
      <li>
        <a ui-sref="plansShow({ id: weeksShow.planId})">
          <img src="../images/arrow-left.png" class="left-arrow">
        </a>
      </li>
      <li>WEEK {{ weeksShow.weekId }}</li>
      <li><a ui-sref="weeksEdit({ planId: weeksShow.planId, weekId: weeksShow.weekId})">EDIT</a></li>
    </ul>
  </header>
  <h1>Week Show</h1>
  <div>
    <ul>
      <li>{{ weeksShow.completedWorkouts }} / {{ weeksShow.totalWorkouts }} workouts</li>
      <li>{{ weeksShow.completedMiles }} / {{ weeksShow.totalMiles }} miles</li>
    </ul>
  </div>

  <days-list days="weeksShow.thisWeek" plan="weeksShow.planId" ng-if="weeksShow.thisWeek"></days-list>
</section>
