<section>
  <header class="top-nav">
    <div class="container">
      <ul>
        <li>
          <a ng-click="weeksEdit.savePlan()" ui-sref="weeksShow({planId: weeksEdit.planId, weekId: weeksEdit.weekId})">
            <img src="../images/arrow-left.png" class="left-arrow">
          </a>
        </li>
        <li>WEEK {{ weeksEdit.weekId }}</li>
        <li><a ng-click="weeksEdit.savePlan()" ui-sref="weeksShow({planId: weeksEdit.planId, weekId: weeksEdit.weekId})">SAVE</a></li>
      </ul>
    </div>
  </header>
  <ul dnd-list="weeksEdit.thisWeek">
    <li ng-repeat="day in weeksEdit.thisWeek" dnd-draggable="day" dnd-moved="weeksEdit.updatePosition($index)"
    dnd-effect-allowed="move"
    dnd-selected="weeksEdit.selected = day"
    ng-class="{'selected': weeksEdit.selected === day}">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: weeksEdit.planId, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <img src="../images/nav.png" class="edit" >
    </li>
  </ul>
</section>
