<section>
  <header class="top-nav">
    <div class="container">
      <ul>
        <li>
          <a ui-sref="plansShow({ id: weeksShow.planId})">
            <img src="../images/arrow-left.png" class="left-arrow">
          </a>
        </li>
        <li><h2><a>week {{ weeksShow.weekId }}</a></h2></li>
        <li><h2><a ui-sref="weeksEdit({ planId: weeksShow.planId, weekId: weeksShow.weekId})">edit</a></h2></li>
      </ul>
    </div>
  </header>
  <div class="container">
    <div class="plan-stats">
      <div class="stats-left">
        <span class="number"><sup>{{ weeksShow.completedWorkouts }}</sup>/<sub>{{ weeksShow.totalWorkouts }}</sub></span>
        <span class="text">workouts</span>
      </div>

      <div class="stats-right">
        <span class="number"><sup>{{ weeksShow.completedMiles }}</sup>/<sub>{{ weeksShow.totalMiles }}</sub></span>
        <span class="text">miles</span>
      </div>
    </div>
  </div>

  <days-list days="weeksShow.thisWeek" plan="weeksShow.planId" ng-if="weeksShow.thisWeek"></days-list>
</section>
