<section>
  <header>
    <ul>
      <li><a ui-sref="plansShow({ id: daysIndex.plan.id})"><</a></li>
      <li>{{ daysIndex.plan.name }}</li>
      <li>EDIT</li>
    </ul>
  </header>
  <h1>Plan Daily Breakdown</h1>
  <ul>
    <li ng-repeat="day in daysIndex.plan.user_days" ng-class="{ 'complete' : day.completed }">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: daysIndex.plan.id, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <hr>
    </li>
  </ul>

</section>
