<header class="top-nav">
  <div class="container">
    <h1 class="brand">Run <sup>+</sup></h1>
  </div>
</header>

<section>
  <div class="container">
    <h1>{{ plansShow.plan.name }}</h1>
    <h2>{{ plansShow.plan.end_date | date: dd }}</h2>

    <div class="plan-stats">
      <div class="stats-left">
        <span class="number"><sup>{{ plansShow.completedWorkouts }}</sup>/<sub>{{ plansShow.totalWorkouts }}</sub></span>
        <span class="text">workouts</span>
      </div>

      <div class="stats-right">
        <span class="number"><sup>{{ plansShow.completedMiles }}</sup>/<sub>{{ plansShow.totalMiles }}</sub></span>
        <span class="text">miles</span>
      </div>
    </div>

  </div>

  <div>
    <ul dnd-list>
      <li ng-if="plansShow.plan.active && plansShow.plan.status === 'current' && plansShow.currentWeek">
        <a ui-sref="weeksShow({planId: plansShow.plan.id, weekId: plansShow.currentWeek})">
          <h3>
              This week
          </h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
      <li ng-if="plansShow.plan.status === 'future' || (plansShow.plan.active && !plansShow.currentWeek && plansShow.plan.status === 'future')">
        <h3>
            Plan starts on {{ plansShow.plan.start_date | date: dd }}
        </h3>
      </li>
      <li ng-if="!plansShow.plan.active || (plansShow.plan.active && plansShow.plan.status === 'past')">
        <h3>
            Plan finished
        </h3>
      </li>
    </ul>
  </div>
  <div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="stravaIndex">
          <h3>Activity Feed</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <canvas id="bar" class="chart chart-bar"
      chart-data="plansShow.data" chart-labels="plansShow.labels" chart-series="plansShow.series" chart-colors="plansShow.colors">
    </canvas>
  </div>

  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="daysIndex({id: plansShow.plan.id})">
          <h3>View full plan</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="plansEdit({id: plansShow.plan.id})">
          <h3 ng-if="plansShow.plan.active">End plan</h3>
          <h3 ng-if="!plansShow.plan.active">Delete plan</h3>
          <img src="../images/arrow-right.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
</section>
