<section>
  <h1>Plan Setup</h1>

  <div>
    <h2>Choose your distance</h2>
    <ul>
      <li>5km</li>
      <li>10km</li>
      <li>Half Marathon</li>
    </ul>
  </div>

  <div>
    <h2>Activity level</h2>
    <ul>
      <li>Couch to 5km</li>
      <li>Current Runner</li>
      <li>Advanced Runner</li>
    </ul>
  </div>

  <div>
    <input type="text" name="end_date" placeholder="Race name (optional)">
    <p>You need 6 weeks min. to train</p>
    <p>Calendar</p>
  </div>

  <div>
    <h2>Your plan</h2>
    <ul>
      <li>Race distance: 5km</li>
      <li>Level: Couch to 5km</li>
      <li>Race date: 26 Feb 2017</li>
      <li>Race name: Santa Run</li>
    </ul>
    <button>Build my plan</button>
  </div>

</section>
