<section>
  <div>
    <h1>{{ plansShow.plan.name }}</h1>
    <h2>{{ plansShow.plan.end_date | date: dd }}</h2>
  </div>
  <div>
    <ul>
      <li>{{ plansShow.completedWorkouts }} / {{ plansShow.totalWorkouts }} workouts</li>
      <li>{{ plansShow.completedMiles }} / {{ plansShow.totalMiles }} miles</li>
    </ul>
  </div>
  <div class="">
    <h3><a ui-srefi="">This week</a></h3>
  </div>
  <div class="">
    <h3>INSERT CHART HERE</h3>
  </div>
  <div class="">
    <h3><a ui-sref="daysIndex({id: plansShow.plan.id})">View full plan</a></h3>
  </div>
  <div class="">
    <h3><a ui-sref="">End plan</a></h3>
  </div>
</section>
