<section>
  <div>
    <h1>{{ plansShow.plan.name }}</h1>
    <h2>{{ plansShow.plan.end_date | date: dd }}</h2>
  </div>
  <div>
    <ul>
      <li>{{ plansShow.completedWorkouts }} / {{ plansShow.totalWorkouts }} workouts</li>
      <li>{{ plansShow.completedMiles }} / {{ plansShow.totalMiles }} miles</li>
    </ul>
  </div>
  <div >
    <ul dnd-list>
      <li ng-if="plansShow.plan.status === 'current'">
        <a ui-sref="weeksShow({planId: plansShow.plan.id, weekId: plansShow.currentWeek})">
          <h3>
              This week
          </h3>
          <img src="http://iconshow.me/media/images/ui/slim-square-icons/png/128/arrow-6.png" class="right-arrow">
        </a>
      </li>
      <li ng-if="plansShow.plan.status === 'future'">
        <h3>
            Plan not started yet
        </h3>
      </li>
      <li ng-if="plansShow.plan.status === 'past'">
        <h3>
            Plan finished
        </h3>
      </li>
    </ul>
  </div>
  <div>
    <canvas id="bar" class="chart chart-bar"
      chart-data="plansShow.data" chart-labels="plansShow.labels" chart-series="plansShow.series">
    </canvas>
  </div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="daysIndex({id: plansShow.plan.id})">
          <h3>View full plan</h3>
          <img src="http://iconshow.me/media/images/ui/slim-square-icons/png/128/arrow-6.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
  <div>
    <ul dnd-list>
      <li>
        <a ui-sref="daysIndex({id: plansShow.plan.id})">
          <h3>End plan</h3>
          <img src="http://iconshow.me/media/images/ui/slim-square-icons/png/128/arrow-6.png" class="right-arrow">
        </a>
      </li>
    </ul>
  </div>
</section>
