<section>
  <h1>Plan Setup</h1>

  <form novalidate ng-submit="setupPlan.create()">
    <div>
      <h2>Choose your distance</h2>
      <label>
        <input type="radio" name="length" ng-model="setupPlan.length" value="5km">5km
      </label>
      <label>
        <input type="radio" name="length" ng-model="setupPlan.length" value="10km">10km
      </label>
      <label>
        <input type="radio" name="length" ng-model="setupPlan.length" value="Half Marathon">Half Marathon
      </label>
    </div>

    <div>
      <h2>Activity level</h2>
      <label>
        <input type="radio" name="level" ng-model="setupPlan.level" value="Couch to 5km">Couch to 5km
      </label>
      <label>
        <input type="radio" name="level" ng-model="setupPlan.level" value="Current Runner">Current Runner
      </label>
      <label>
        <input type="radio" name="level" ng-model="setupPlan.level" value="Advanced Runner">Advanced Runner
      </label>
    </div>

    <div>
      <h2>Race Date</h2>
      <p>You need 6 weeks min. to train</p>
      <input type="date" name="end_date" ng-model="setupPlan.end_date">

      <input type="text" ng-model="setupPlan.name" name="name" placeholder="Race name (optional)">
    </div>

    <div>
      <h2>Your plan</h2>
      <ul>
        <li>Race distance: {{ setupPlan.length }}</li>
        <li>Level: {{ setupPlan.level }}</li>
        <li>Race date: {{ setupPlan.end_date | date: "dd MMM yyyy" }}</li>
        <li>Race name: {{ setupPlan.name }}</li>
      </ul>
    </div>

    <button>Build my plan</button>
  </form>
</section>
