<h1>Activities</h1>
<ul>
  <li ng-repeat="activity in stravaIndex.data" ng-if="activity.type === 'Run'">
    <p>{{ activity.start_date | date: dd}}</p>
    <p>{{ activity.name }}</p>
    <p>{{ (activity.distance / 1000) * 0.621371 | number: 1 }} mi</p>
    <ul>
      <li ng-repeat="userDay in stravaIndex.userDays" ng-if="userDay.date === activity.start_date">
        <p ng-if="userDay.exercise">{{ userDay.exercise.name }}</p>
        <p ng-if="!userDay.exercise">Rest day</p>
        <button ng-if="userDay.exercise && !userDay.completed" ui-sref="daysShow({planId: stravaIndex.userPlanId, dayId: userDay.id})">View Planned Activity</button>
        <button ng-if="userDay.exercise && userDay.completed" ui-sref="daysShow({planId: stravaIndex.userPlanId, dayId: userDay.id, stravaId: activity.id})">View Activity</button>
        <button  ng-if="userDay.exercise && !userDay.completed" ng-click="stravaIndex.markComplete(stravaIndex.userPlanId, userDay.id, activity.id)">Mark as done</button>
      </li>
    </ul>
  </li>
</ul>
