<section>
  <header>
    <ul>
      <li>
        <a ui-sref="plansShow({ id: stravaIndex.planId})">
          <img src="../images/arrow-left.png" class="left-arrow">
        </a>
      </li>
      <li>ACTIVITY FEED</li>
    </ul>
  </header>
  <button>SYNC WITH STRAVA</button>
  <ul>
    <li ng-repeat="activity in stravaIndex.allActivities" ng-if="activity.type === 'Run'">
      <p>{{ activity.start_date | date: dd}}</p>
      <p ng-if="activity.userDay">MATCH {{ activity.userDay }}</p>
      <p>{{ activity.name }}<span ng-if="activity.location_city">, {{ activity.location_city }}</span></p>
      <p>{{ activity.distance }} mi</p>
      <p>{{ activity.elapsed_hours }}:{{ activity.elapsed_minutes }}:{{ activity.elapsed_seconds}}</p>
      <div ng-if="activity.map.summary_polyline" class="map-summary">
        <google-map ng-if="activity.map.summary_polyline" data="activity.map.summary_polyline" ></google-map>
      </div>
    </li>
  </ul>
</section>
