<section>
  <header class="top-nav">
    <div class="container">
      <h2>profile</h2>
    </div>
  </header>
  <img ng-src="{{ usersShow.user.image }}">
  <div class="container center">
    <h1>{{ usersShow.user.username }}</h1>
    <h3>{{ usersShow.user.email }}</h3>

    <div>
      <button class="primary wide" ng-click="usersShow.authenticateStrava()">Sync with Strava</button>
    </div>
    <hr>
    <div>
      <button class="secondary wide" ng-click="usersShow.logout()">Logout</button>
      <hr>
      <button class="secondary wide" ng-click="usersShow.delete()">Delete Accout</button>
    </div>
  </div>
</section>
