<section>
  <header>
    <ul>
      <li>
        <a ui-sref="plansShow({ id: weeksShow.planId})">
          <img src="../images/arrow-left.png" class="left-arrow">
        </a>
      </li>
      <li>WEEK {{ weeksShow.weekId }}</li>
      <li><a ui-sref="weeksEdit({ planId: weeksShow.planId, weekId: weeksShow.weekId})">EDIT</a></li>
    </ul>
  </header>
  <h1>Week Show</h1>
  <div>
    <ul>
      <li>{{ weeksShow.completedWorkouts }} / {{ weeksShow.totalWorkouts }} workouts</li>
      <li>{{ weeksShow.completedMiles }} / {{ weeksShow.totalMiles }} miles</li>
    </ul>
  </div>
  <ul dnd-list>
    <li ng-repeat="day in weeksShow.thisWeek" ng-class="{ 'complete' : day.completed }">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: weeksShow.planId, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <a ui-sref="daysShow({planId: weeksShow.planId, dayId: day.id})" ng-if="day.exercise.name"><img ng-if="day.exercise.name" src="../images/arrow-right.png" class="right-arrow"></a>
    </li>
  </ul>
</section>
