<section>
  <header>
    <ul>
      <li><a ui-sref="plansShow({ id: weeksShow.planId})"><</a></li>
      <li>WEEK {{ weeksShow.weekId }}</li>
      <li>DONE</li>
    </ul>
  </header>
  <h1>Week Edit</h1>
  <ul>
    <li ng-repeat="day in weeksShow.thisWeek" ng-class="{ 'complete' : day.completed }">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: weeksShow.planId, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <hr>
    </li>
  </ul>

</section>
