<section>
  <header>
    <ul>
      <li>
        <a ng-click="weeksEdit.savePlan()" ui-sref="weeksShow({planId: weeksEdit.planId, weekId: weeksEdit.weekId})">
          <img src="http://iconshow.me/media/images/ui/slim-square-icons/png/128/arrow-5.png" class="left-arrow">
        </a>
      </li>
      <li>WEEK {{ weeksEdit.weekId }}</li>
      <li><a ng-click="weeksEdit.savePlan()" ui-sref="weeksShow({planId: weeksEdit.planId, weekId: weeksEdit.weekId})">DONE</a></li>
    </ul>
  </header>
  <h1>Week Edit</h1>
  <ul dnd-list="weeksEdit.thisWeek">
    <li ng-repeat="day in weeksEdit.thisWeek" dnd-draggable="day" dnd-moved="weeksEdit.updatePosition($index)"
    dnd-effect-allowed="move"
    dnd-selected="weeksEdit.selected = day"
    ng-class="{'selected': weeksEdit.selected === day}">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: weeksEdit.planId, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <img src="https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-12-128.png" class="edit" >
    </li>
  </ul>
</section>
