<section>
  <header>
    <ul>
      <li><a ui-sref="plansShow({ id: weeksShow.planId})"><</a></li>
      <li>WEEK {{ weeksShow.weekId }}</li>
      <li><a ui-sref="weeksEdit({ planId: weeksShow.planId, weekId: weeksShow.weekId})">EDIT</a></li>
    </ul>
  </header>
  <h1>Week Show</h1>
  <ul dnd-list>
    <li ng-repeat="day in weeksShow.thisWeek" ng-class="{ 'complete' : day.completed }">
      <p>{{ day.date | date: dd }}</p>
      <a ui-sref="daysShow({planId: weeksShow.planId, dayId: day.id})" ng-if="day.exercise.name">{{ day.exercise.name }}</a>
      <a ng-if="!day.exercise.name">Rest day</a>
      <a ui-sref="daysShow({planId: weeksShow.planId, dayId: day.id})" ng-if="day.exercise.name"><img ng-if="day.exercise.name" src="http://iconshow.me/media/images/ui/slim-square-icons/png/128/arrow-6.png" class="right-arrow"></a>
    </li>
  </ul>
</section>
