<!DOCTYPE html>
<html ng-app="finalProject">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Final Project</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
      var iosDragDropShim = { holdToDrag: 300 }
    </script>
    <!-- <script src="vendor/ios-drag-drop.js"></script> -->
    <!-- <script src="../bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js" charset="utf-8"></script> -->
    <!-- <script src="../bower_components/drag-drop-webkit-mobile/ios-drag-drop.js" charset="utf-8"></script> -->
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainController as main">
    <main ui-view></main>
    <nav>
      <ul>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="register">Create Account</a></li>
        <li ng-if="!main.isLoggedIn()"><a ui-sref="login">Sign In</a></li>
        <li ng-if="main.isLoggedIn()"><a ui-sref="plansIndex">Plans</a></li>
        <li ng-if="main.isLoggedIn() && !main.activePlan"><a ui-sref="setup">New Plan</a></li>
        <li ng-if="!!main.activePlan"><a ui-sref="daysShow({planId: main.activePlan, dayId: main.dayId })">Today</a></li>
        <li ng-if="main.isLoggedIn()"><a ui-sref="usersShow({id: main.currentUser})">Profile</a></li>
      </ul>
    </nav>
  </body>
</html>
